################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/EEG_Fversion_winSDK_V2.1.0_demo/.vs
/EEG_Fversion_winSDK_V2.1.0_demo/eegsdk_demo/.vs
/EEG_Fversion_winSDK_V2.1.0_demo/eegsdk_demo_copy/.vs
